<div>
    <h2>
        <span jhiTranslate="rdvmasterApp.rendezVous.home.title">Rendez Vous</span>
        <button class="btn btn-primary float-right jh-create-entity create-rendez-vous" [routerLink]="['/', { outlets: { popup: ['rendez-vous-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="rdvmasterApp.rendezVous.home.createLabel">
            Create new Rendez Vous
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="rendezVous">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="rdvmasterApp.rendezVous.description">Description</span></th>
            <th><span jhiTranslate="rdvmasterApp.rendezVous.dateCreation">Date Creation</span></th>
            <th><span jhiTranslate="rdvmasterApp.rendezVous.dateDebut">Date Debut</span></th>
            <th><span jhiTranslate="rdvmasterApp.rendezVous.dateFin">Date Fin</span></th>
            <th><span jhiTranslate="rdvmasterApp.rendezVous.userLogin">User Login</span></th>
            <th><span jhiTranslate="rdvmasterApp.rendezVous.status">Status</span></th>
            <th><span jhiTranslate="rdvmasterApp.rendezVous.clinique">Clinique</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rendezVous of rendezVous ;trackBy: trackId">
                <td><a [routerLink]="['../rendez-vous', rendezVous.id ]">{{rendezVous.id}}</a></td>
                <td>{{rendezVous.description}}</td>
                <td>{{rendezVous.dateCreation | date:'medium'}}</td>
                <td>{{rendezVous.dateDebut | date:'medium'}}</td>
                <td>{{rendezVous.dateFin | date:'medium'}}</td>
                <td>{{rendezVous.userLogin}}</td>
                <td jhiTranslate="{{'rdvmasterApp.StatusRdv.' + rendezVous.status}}">{{rendezVous.status}}</td>
                <td>
                    <div *ngIf="rendezVous.clinique">
                        <a [routerLink]="['../clinique', rendezVous.clinique?.id ]" >{{rendezVous.clinique?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../rendez-vous', rendezVous.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rendez-vous/'+ rendezVous.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rendez-vous/'+ rendezVous.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
