<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRendezVousLabel" jhiTranslate="rdvmasterApp.rendezVous.home.createOrEditLabel">Create or edit a Rendez Vous</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!rendezVous.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="rendezVous.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rdvmasterApp.rendezVous.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="rendezVous.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rdvmasterApp.rendezVous.dateCreation" for="field_dateCreation">Date Creation</label>
            <div class="d-flex">
                <input id="field_dateCreation" type="datetime-local" class="form-control" name="dateCreation" [(ngModel)]="rendezVous.dateCreation"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rdvmasterApp.rendezVous.dateDebut" for="field_dateDebut">Date Debut</label>
            <div class="d-flex">
                <input id="field_dateDebut" type="datetime-local" class="form-control" name="dateDebut" [(ngModel)]="rendezVous.dateDebut"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rdvmasterApp.rendezVous.dateFin" for="field_dateFin">Date Fin</label>
            <div class="d-flex">
                <input id="field_dateFin" type="datetime-local" class="form-control" name="dateFin" [(ngModel)]="rendezVous.dateFin"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rdvmasterApp.rendezVous.userLogin" for="field_userLogin">User Login</label>
            <input type="text" class="form-control" name="userLogin" id="field_userLogin"
                [(ngModel)]="rendezVous.userLogin" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rdvmasterApp.rendezVous.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="rendezVous.status" id="field_status" >
                <option value="NOUVEAU">{{'rdvmasterApp.StatusRdv.NOUVEAU' | translate}}</option>
                <option value="VALIDE">{{'rdvmasterApp.StatusRdv.VALIDE' | translate}}</option>
                <option value="ARCHIVE">{{'rdvmasterApp.StatusRdv.ARCHIVE' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rdvmasterApp.rendezVous.clinique" for="field_clinique">Clinique</label>
            <select class="form-control" id="field_clinique" name="clinique" [(ngModel)]="rendezVous.clinique" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cliniqueOption.id === rendezVous.clinique?.id ? rendezVous.clinique : cliniqueOption" *ngFor="let cliniqueOption of cliniques; trackBy: trackCliniqueById">{{cliniqueOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
