
<div *ngIf="rendezVous">
    <h2><span jhiTranslate="rdvmasterApp.rendezVous.detail.title">Rendez Vous</span> {{rendezVous.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rdvmasterApp.rendezVous.description">Description</span></dt>
        <dd>
            <span>{{rendezVous.description}}</span>
        </dd>
        <dt><span jhiTranslate="rdvmasterApp.rendezVous.dateCreation">Date Creation</span></dt>
        <dd>
            <span>{{rendezVous.dateCreation | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="rdvmasterApp.rendezVous.dateDebut">Date Debut</span></dt>
        <dd>
            <span>{{rendezVous.dateDebut | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="rdvmasterApp.rendezVous.dateFin">Date Fin</span></dt>
        <dd>
            <span>{{rendezVous.dateFin | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="rdvmasterApp.rendezVous.userLogin">User Login</span></dt>
        <dd>
            <span>{{rendezVous.userLogin}}</span>
        </dd>
        <dt><span jhiTranslate="rdvmasterApp.rendezVous.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'rdvmasterApp.StatusRdv.' + rendezVous.status}}">{{rendezVous.status}}</span>
        </dd>
        <dt><span jhiTranslate="rdvmasterApp.rendezVous.clinique">Clinique</span></dt>
        <dd>
            <div *ngIf="rendezVous.clinique">
                <a [routerLink]="['/clinique', rendezVous.clinique?.id]">{{rendezVous.clinique?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'rendez-vous/'+ rendezVous.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
