
<div *ngIf="clinique">
    <h2><span jhiTranslate="rdvmasterApp.clinique.detail.title">Clinique</span> {{clinique.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rdvmasterApp.clinique.code">Code</span></dt>
        <dd>
            <span>{{clinique.code}}</span>
        </dd>
        <dt><span jhiTranslate="rdvmasterApp.clinique.nom">Nom</span></dt>
        <dd>
            <span>{{clinique.nom}}</span>
        </dd>
        <dt><span jhiTranslate="rdvmasterApp.clinique.adresse">Adresse</span></dt>
        <dd>
            <span>{{clinique.adresse}}</span>
        </dd>
        <dt><span jhiTranslate="rdvmasterApp.clinique.telephone">Telephone</span></dt>
        <dd>
            <span>{{clinique.telephone}}</span>
        </dd>
        <dt><span jhiTranslate="rdvmasterApp.clinique.email">Email</span></dt>
        <dd>
            <span>{{clinique.email}}</span>
        </dd>
        <dt><span jhiTranslate="rdvmasterApp.clinique.ville">Ville</span></dt>
        <dd>
            <div *ngIf="clinique.ville">
                <a [routerLink]="['/ville', clinique.ville?.id]">{{clinique.ville?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="rdvmasterApp.clinique.specialites">Specialites</span></dt>
        <dd>
            <span *ngFor="let specialites of clinique.specialites; let last = last">
                <a [routerLink]="['/specialite', specialites?.id ]">{{specialites.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'clinique/'+ clinique.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
