<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCliniqueLabel" jhiTranslate="rdvmasterApp.clinique.home.createOrEditLabel">Create or edit a Clinique</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!clinique.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="clinique.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rdvmasterApp.clinique.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="clinique.code" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rdvmasterApp.clinique.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="clinique.nom" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rdvmasterApp.clinique.adresse" for="field_adresse">Adresse</label>
            <input type="text" class="form-control" name="adresse" id="field_adresse"
                [(ngModel)]="clinique.adresse" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rdvmasterApp.clinique.telephone" for="field_telephone">Telephone</label>
            <input type="text" class="form-control" name="telephone" id="field_telephone"
                [(ngModel)]="clinique.telephone" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rdvmasterApp.clinique.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="clinique.email" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rdvmasterApp.clinique.ville" for="field_ville">Ville</label>
            <select class="form-control" id="field_ville" name="ville" [(ngModel)]="clinique.ville" >
                <option [ngValue]="null"></option>
                <option [ngValue]="villeOption.id === clinique.ville?.id ? clinique.ville : villeOption" *ngFor="let villeOption of villes; trackBy: trackVilleById">{{villeOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="rdvmasterApp.clinique.specialites" for="field_specialites">Specialites</label>
            <select class="form-control" id="field_specialites" multiple name="specialites" [(ngModel)]="clinique.specialites">
                <option [ngValue]="getSelected(clinique.specialites, specialiteOption)" *ngFor="let specialiteOption of specialites; trackBy: trackSpecialiteById">{{specialiteOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
