<div>
    <h2>
        <span jhiTranslate="rdvmasterApp.clinique.home.title">Cliniques</span>
        <button class="btn btn-primary float-right jh-create-entity create-clinique" [routerLink]="['/', { outlets: { popup: ['clinique-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="rdvmasterApp.clinique.home.createLabel">
            Create new Clinique
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cliniques">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="rdvmasterApp.clinique.code">Code</span></th>
            <th><span jhiTranslate="rdvmasterApp.clinique.nom">Nom</span></th>
            <th><span jhiTranslate="rdvmasterApp.clinique.adresse">Adresse</span></th>
            <th><span jhiTranslate="rdvmasterApp.clinique.telephone">Telephone</span></th>
            <th><span jhiTranslate="rdvmasterApp.clinique.email">Email</span></th>
            <th><span jhiTranslate="rdvmasterApp.clinique.ville">Ville</span></th>
            <th><span jhiTranslate="rdvmasterApp.clinique.specialites">Specialites</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clinique of cliniques ;trackBy: trackId">
                <td><a [routerLink]="['../clinique', clinique.id ]">{{clinique.id}}</a></td>
                <td>{{clinique.code}}</td>
                <td>{{clinique.nom}}</td>
                <td>{{clinique.adresse}}</td>
                <td>{{clinique.telephone}}</td>
                <td>{{clinique.email}}</td>
                <td>
                    <div *ngIf="clinique.ville">
                        <a [routerLink]="['../ville', clinique.ville?.id ]" >{{clinique.ville?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let specialites of clinique.specialites; let last = last">
                            <a class="form-control-static" [routerLink]="['../specialite', specialites?.id ]">{{specialites.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../clinique', clinique.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'clinique/'+ clinique.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'clinique/'+ clinique.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
