
<div *ngIf="specialite">
    <h2><span jhiTranslate="rdvmasterApp.specialite.detail.title">Specialite</span> {{specialite.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rdvmasterApp.specialite.code">Code</span></dt>
        <dd>
            <span>{{specialite.code}}</span>
        </dd>
        <dt><span jhiTranslate="rdvmasterApp.specialite.nom">Nom</span></dt>
        <dd>
            <span>{{specialite.nom}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'specialite/'+ specialite.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
