<div>
    <h2>
        <span jhiTranslate="rdvmasterApp.ville.home.title">Villes</span>
        <button class="btn btn-primary float-right jh-create-entity create-ville" [routerLink]="['/', { outlets: { popup: ['ville-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="rdvmasterApp.ville.home.createLabel">
            Create new Ville
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="villes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="rdvmasterApp.ville.code">Code</span></th>
            <th><span jhiTranslate="rdvmasterApp.ville.nom">Nom</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ville of villes ;trackBy: trackId">
                <td><a [routerLink]="['../ville', ville.id ]">{{ville.id}}</a></td>
                <td>{{ville.code}}</td>
                <td>{{ville.nom}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../ville', ville.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ville/'+ ville.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ville/'+ ville.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
