
<div *ngIf="ville">
    <h2><span jhiTranslate="rdvmasterApp.ville.detail.title">Ville</span> {{ville.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rdvmasterApp.ville.code">Code</span></dt>
        <dd>
            <span>{{ville.code}}</span>
        </dd>
        <dt><span jhiTranslate="rdvmasterApp.ville.nom">Nom</span></dt>
        <dd>
            <span>{{ville.nom}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ville/'+ ville.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
